/*
. = class

# = id

*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    
    
}
h1{
    width: 100px;
    height: 100px;
    font-size: 25px;
    color: gray;
    background-color: #fff;
    padding: 20px 10px;
    margin: 20px 10px;
}
.red{
    border: 1px solid red;
}

#blue{
    border: 1px solid blue;
}
